body{
  background-color:#6ED2E6;
  height:100%;
  width:100%;
}
.contain-dots{
  bottom:0px;
  width:125px;
  height:200px;
  display: block;
  margin:auto;
  visibility: hidden;
  opacity:0;
  transition:all 350ms ease-in-out;

}
.ul-dots{
  list-style:none;
  display:inline-block;
  width:100%;
  padding:0;
  padding-left:20px;
}
.contain-inside-dots{
  display:inline-block;
  width:30%;
  height:100%;
}
.a-dot{
  display:block;
  margin:auto;
  width:14px;
  height:14px;
  background:none;
  border-radius:100px;
  border:0.5px solid white;
}
.a-dot > span{
  width:14px;
  height:14px;
  background-color:white;
  transition: all 500ms ease-in-out;
  border-radius:100px;
  display:block;
  transform: scale(0);
  margin:auto;
}



.csenter{
  padding:30px;
  padding-top:10px;
}

.second-page-heading{
  color:black;
  font-weight:100;
  font-size:40px;
  margin-left:70px;
  margin-right:70px;
  border-bottom:2px solid #6ED2E6;
}
.second-page-second-heading{
  font-size:25px;
  margin-left:70px;
}
.csenter{
  transform:scale(0.65);
  position: absolute;
  top: 150px;
}
.csenter{
}
