body{
    background: url("background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 0px;
}
	}

h1{
	color: black;
	font: "Raleway";
	text-align: right;
    font-size: 20pt
}

img{
	position: relative;
	top: 0px;
	align-self: center;
}

p{
	color: orange;
	font: "Open Sans";
	text-align: right;
    border: 3px solid #73AD21;
}

.logo{
	position: relative;
	top: 5px;
}

script {
    size: 100%;
    padding-top: 0px;
}